/*  your css code here. If applicable */
#p1{
	background: yellow;
	border-style: solid;
	border-width: 1px;
	border-color: green;
}
#p2{
	background: red;
	border-style: solid;
	border-width: 1px; 
	border-color: black;
}
#p3{
	background: green;
	border-style: soild;
	border-width: 1px; 
	border-color: yellow;
}